# 👇 Evita subir la configuración del proyecto CLASP
.clasp.json

# Archivos de configuración JS
env.js

# Node.js y dependencias locales
node_modules/
package-lock.json
yarn.lock



# Memoria
Memoria - Contextual_Memory.csv
Memoria - Devices_and_Sensors.csv
Memoria - Image_Analysis.csv
Memoria - User_Notifications.csv

EXCELLENCE_ROADMAP.md
CLAUDE.md

.prettierignore
.prettierrc
package.json
extensions.json
settings.json
