# 👇 Evita subir la configuración del proyecto CLASP
.clasp.json

# 👇 Archivos de configuración JS
env.js

# 👇 Node.js y dependencias locales
node_modules/
package-lock.json
package.json
yarn.lock
.prettierignore
.prettierrc
extensions.json
settings.json

# 👇 Memoria
Memoria - Contextual_Memory.csv
Memoria - Devices_and_Sensors.csv
Memoria - Image_Analysis.csv
Memoria - User_Notifications.csv

# 👇 Documentos
EXCELLENCE_ROADMAP.md
CLAUDE.md


